:root {
  /*Used for Google fonts*/
  --FILL: 0;
  --GRAD: 0;
  --opsz: 48;
  --wght: 400; /*400, 500, 700*/

  /* Colors*/

  /* Primary*/
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  /* Neutral*/
  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-text: "Ubuntu", sans-serif;

  /* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-variation-settings: "FILL" var(--FILL), "GRAD" var(--GRAD),
    "opsz" var(--opsz), "wght" var(--wght);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-text);
  background-color: var(--magnolia);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: */
  /*line:height: ;*/
}

img {
  /* width: 100%; */
  display: block;
}

input::placeholder {
  color: var(--coolGray);
  font-weight: 400;
}

input[type="text"]:focus {
  color: var(--marineBlue);
  outline: solid 1px var(--marineBlue);
}

input[type="text"] {
  padding: 1.3rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--marineBlue);
  border: solid 1px var(--lightGray);
  border-radius: 6px;
  outline-color: var(--marineBlue);
  outline-width: bold;
}

h1 {
  font-size: 3rem;
  color: var(--marineBlue);
  font-weight: 700;
  line-height: 2.5;
}

label {
  color: var(--marineBlue);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

p {
  color: var(--coolGray);
  font-size: 1.5rem;
}
h4,
h2,
h1,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 18.5% 0 0;
  display: flex;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
}

.sidebar img {
  min-width: 100%;
}

.main-content {
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.style-main-content {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px #d6d9e6;
}

.button-container {
  z-index: 10;
  text-align: right;
  background-color: #fff;
  margin: 0;
  padding: 10rem 1.6rem 1.6rem 1.6rem;
}

form {
  display: grid;
  gap: 10px;
  margin-top: 2rem;
}

button {
  padding: 1.3rem 2.1rem;
  color: #fff;
  background-color: var(--marineBlue);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .container {
    height: auto;
    max-width: 90%;
    padding: 1.6rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px 5px 10px #d6d9e6;
  }

  .main-content {
    justify-content: flex-start;
    width: 50%;
    margin: auto;
  }

  .sidebar {
    position: relative;
    border-radius: 1rem;
  }

  .style-main-content {
    box-shadow: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 94rem;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
