:root {
  /*Used for Google fonts*/
  --FILL: 0;
  --GRAD: 0;
  --opsz: 48;
  --wght: 400; /*400, 500, 700*/

  /* Colors*/

  /* Primary*/
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --purplishBlueHover: hsl(243, 100%, 62% / 10%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  /* Neutral*/
  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --font-text: "Ubuntu", sans-serif;

  /* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-variation-settings: "FILL" var(--FILL), "GRAD" var(--GRAD),
    "opsz" var(--opsz), "wght" var(--wght);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-text);
  background-color: var(--magnolia);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  /* align-items: center; */
  /*color: */
  /*line:height: ;*/
}

img {
  display: block;
}

input::placeholder {
  color: var(--coolGray);
  font-weight: 400;
}

input[type="text"]:focus {
  color: var(--marineBlue);
  outline: solid 1px var(--marineBlue);
}

input[type="text"] {
  padding: 1.3rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--marineBlue);
  border: solid 1px var(--lightGray);
  border-radius: 6px;
  outline-color: var(--marineBlue);
  outline-width: bold;
}

/* label:has(input:checked) {
  border: 1px solid var(--purplishBlue);
  background: var(--alabaster);
} */

h1 {
  font-size: 3rem;
  color: var(--marineBlue);
  font-weight: 700;
  line-height: 2.5;
}

label {
  color: var(--marineBlue);
  font-size: 1.2rem;
  /* font-weight: 600; */
  /* margin-top: 1.5rem; */
}

.input-err-msg {
  float: right;
  color: red;
}

p {
  color: var(--coolGray);
  font-size: 1.6rem;
}

h4,
h2,
h1,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* #personal-info {
  display: none;
}

#your-plan {
  display: none;
}

#add-ons {
  display: none;
}

#summary {
  display: block;
} */

.section-item {
  display: none;
  min-block-size: 40rem;
}

.form-button {
  display: none;
}

.yearly-plan-offer {
  display: none;
}

.active {
  display: block;
}

.even-columns > * {
  flex-basis: 100%;
}

.container {
  /* width: 100%;
  height: 100%;
  padding: 33% 0 0;
  display: flex; */
  /* max-inline-size: 1200px; */
  /* max-inline-size: fit-content; */
  padding-inline: 2rem;
  margin-inline: auto;
  /* min-block-size: 100vh;
  min-block-size: 100dvh; */
  display: grid;
  margin-top: 10rem;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  /* width: 260px; */
}

.sidebar > *:not(picture) {
  position: absolute;
}

.sidebar ul {
  top: 4rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sidebar img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.step-number {
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: 700;
}

.step-active {
  border: none;
  color: var(--marineBlue);
  background-color: var(--lightBlue);
}

.form-active {
  display: block;
}

.step-title {
  display: none;
}

.main-content {
  z-index: 1;
  /* height: 100%;
  width: 100%; */
  /* margin: 0; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; */
}

.main-body {
  /* width: 95%; */

  background-color: #fff;
  padding: 2rem 2rem 2.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px #d6d9e6;
}

.thankyou-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  max-width: 48rem;
}

.main-footer {
  z-index: 10;
  text-align: right;
  background-color: #fff;
  /* margin: 0; */
  /* padding: 1.5rem 1.6rem 1.6rem 1.6rem; */
}

.main-footer {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  padding: 2rem;
  background: var(--white);
}

.plans-wrapper {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 2rem;
}

.plans {
  border: solid 1px var(--coolGray);
  border-radius: 5px;
  padding: 1.5rem;
  /* min-width: 135px; */
  cursor: pointer;
}

.plans:hover {
  border: solid 1px var(--purplishBlue);
}

.plan-selected {
  border: solid 1px var(--purplishBlue);
  background: var(--alabaster);
}

.plans label {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.plans input[type="checkbox"] {
  appearance: none;
  --size: 1.8rem;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--lightGray);
  border-radius: 5px;
  transition: 0.3s background ease-in-out;
}

.plans input[type="checkbox"]::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("assets/images/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  offset-position: bottom left;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
}

.plans input[type="checkbox"]:checked {
  background-color: var(--purplishBlue);
  border: solid 1px var(--purplishBlue);
}

.plans input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/*

input[type="checkbox"]::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  offset-position: bottom left;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
} */

.plans img {
  width: 4rem;
  /* float: left;
  margin: 0 2rem 2rem 0; */
}

.err-select-plan p {
  color: #ed3548;
  text-align: center;
  padding-top: 2rem;
}

.flex-columns {
  display: flex;
  gap: 1.5rem;
}

/* align-self: self-start; 


/*


/* .flex-columns img {
  align-self: self-start;
} */

.period-plan {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.3rem;
  background-color: var(--magnolia);
  border-radius: 5px;
  margin-top: 2rem;
}

.center-items {
  align-items: center;
}

.switch {
  margin: 0 3rem;
  width: 40px;
  height: 20px;
  background: var(--marineBlue);
  border-radius: 1rem;
  position: relative;
}

.switch input {
  appearance: none;
}

.switch:has(input:checked)::after {
  transform: translateX(155%) translateY(-50%);
}

.switch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transform: translateX(30%) translateY(-50%);
  background: var(--white);
  transition: transform 0.2s ease-in-out;
}

label {
  cursor: pointer;
}

.text-wrapper h4 {
  line-height: 1.7;
  color: var(--marineBlue);
  font-size: 1.5rem;
}

.text-wrapper p {
  line-height: 1.7;
  color: var(--coolGray);
}

.text-wrapper p:nth-child(3) {
  color: var(--marineBlue);
  font-size: 1.3rem;
  font-weight: 500;
}

.text-add-ons {
  width: 73%;
}

.highlight-text {
  color: var(--purplishBlue);
  font-weight: 600;
}

form {
  display: grid;
  gap: 10px;
  margin-top: 2rem;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.form-button {
  padding: 1.3rem 2.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.back-button {
  background-color: #fff;
  color: var(--coolGray);
}

.next-button {
  color: #fff;
  background-color: var(--marineBlue);
}

.confirm-button {
  color: #fff;
  background-color: var(--purplishBlue);
}

.confirm-button:hover {
  background-color: rgb(71, 61, 255, 0.9);
}

.summary-body {
  background-color: var(--magnolia);
  padding: 2rem;
  border-radius: 2px;
}

.summary-plan {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: solid 1px var(--coolGray);
}

.summary-add-ons .text-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.summary-plan a {
  font-size: 1.4rem;
  color: var(--coolGray);
}

@media (min-width: 600px) {
  body {
    align-items: center;
  }
  .container {
    /* align-items: center; */
    margin-top: 0;
    grid-template-columns: minmax(min-content, auto) 1fr;
    /* grid-template-columns: minmax(min-content, 270px) 1fr; */
    /* grid-template-columns: minmax(min-content, 27rem) 1fr; */
    /* grid-template-columns: minmax(27rem, 1fr) 2fr; */
    /* gap: 4rem; */
  }

  .container {
    /* max-width: 94rem;
    max-height: 60rem; */
    /* height: auto; */
    /* max-width: 90%; */
    padding: 1.6rem;
    background-color: #fff;
    /* justify-content: center;
    align-items: center; */
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 2px 5px 10px #d6d9e6;
  }

  .main-content {
    /* justify-content: flex-start; */
    /* width: 50%; */
    /* margin: auto 8%; */
    gap: 6rem;
  }

  .main-body {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    padding-bottom: 0;
  }

  .main-footer {
    position: revert;
    padding-inline: 0;

    /* grid-column: 2 / span 2; */
  }

  .sidebar {
    position: relative;
    border-radius: 1rem;
  }

  .sidebar ul {
    flex-direction: column;
    left: 3.5rem;
  }

  .sidebar ul li {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
  }

  .step-title {
    display: block;
  }

  .step-title p:nth-child(2) {
    color: #fff;
  }

  .flex-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }

  .grid-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 700px) {
  .section-item {
    min-inline-size: 42rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 94rem;
  }

  .content-size {
    min-inline-size: 45rem;
    margin: auto;
  }

  /* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
}
